.slides {
  width: 800px;
  height: 500px;
  border:2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  background: var(--pink);
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: sans-serif;
  border: 5px solid white;
  transition: all .25s;
  transform: translateX(-200%);
}

.slide.next + .slide {
  transform: translateX(200%);
}

.slide.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.slide.current {
  z-index: 10;
  transform: translateX(0);
}
.slide.next {
  z-index: 10;
  transform: translateX(100%);
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
